body {
background-color: rgb(89, 89, 89);
border-style: solid;
border-width: thin;
margin: 5px;
font-family: 'Roboto', sans-serif;
}
.newTitle {
  border-style: solid;
  border-color: black;
  width: 25%;
}

h1 {
  background-color: rgb(128, 128, 128);
  text-decoration: underline;
  width: 50%;
  border-right: rgb(128,128,128);
}

h2 {
  text-decoration: underline;
  background-color: rgb(128, 128, 128);
  border-style: hidden;
  width: 40%;
}

p {
  background-color: rgb(250, 128, 114);
  width: 50%;
  background-color: rgb(89,89,89);
}
.container {
    width: 800px;
    height: 480px;
}

/* resize images */
.container img {
    width: 100%;
    height: auto;
}
